/*index.css*/
.sectitle{               /*每一个栏目的标题*/
	height: 30px;
	line-height: 30px;
}
.sectitle li{
	float: left;
	padding: 0px 10px;
	border-right: 1px solid #DDDDDD;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	margin-top: 13px;
}
.sectitle li:last-child{                           /*不显示最后一个li标签的border*/
	border:none;
}
.sectitle h2{
	background: url(../img/food-title.png) no-repeat;
	display: block;
	/*width: 38px;
	height: 30px;*/
	padding-left: 42px;
}
.food img{
	height: 155px;
	width: 261px;
	margin-bottom: 5px;
}
.famous img{                    /*第二次使用图片大小*/
	height: 125px;
	width: 206px;
}
.famous .item{
	padding: 10px 13px 0px;
}
.food .item{
	/*height: 500px;*/
}
